[Unit]
Description=Slack Status Light
After=multi-user.target

[Service]
Environment="SLACK_API_TOKEN="
Environment="SLACK_USER_ID="
Type=simple
ExecStart=/usr/bin/python3 /home/pi/slackstatuslight/slackstatuslight.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

